* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background: #FFFFFF;
    font-family: 'Gilroy';
    
}

.top {
    margin-left: 375px;
    margin-right: 375px;
}

.header {
    width: 1170px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 86px;
    display: flex;
    gap: 400px;
    justify-content: space-between;
}

.navigation {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.navigation {
    font-weight: 600;
    font-family: "Gilroy-Medium";
}

a {
    color: #000000;
    font-weight: 600;
    font-family: "Gilroy-Medium";
}

.navigation_home {
    color: #F25822;
    font-family: "Gilroy-SemiBold";
   
}

.heading_1 {
    width: 522px;
    height: 222px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.paragraph {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    margin-top: 17px;
    color: #888888;
}    

.top_content {
    margin-top: 84px;
    margin-right: 72px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 39px;
}

.top_content_text {
    width: 522px;
}

.top_content_img {
    width: 610.73px;
    height: 372.9px;
}

.top_content_buttons {
    width: 302px;
    height: 50px;
    margin-top: 37px;
    display: flex; 
    justify-content:flex-start; 
    gap: 72px;
}

.button_start {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    text-align: center;
    padding: 15px 35px;
    font-size: 15px;
    line-height: 18px;
    color:#FFFFFF;
    border: 0;
    font-family: "Gilroy-Bold";
    font-weight: 700;
    margin-bottom: 162px;
}

.button_end {
    width: 90px;
    height: 19px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.top_logos {
    margin-left: 345px;
    margin-top: 97px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    gap: 48px;
}